body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #333 url('/images/psi_white.svg') no-repeat 50% 50%;
  background-size: 85vh;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;

  em {
    font-weight: 800;
    font-style: normal;
  }

  span.version {
    font-size: 20px;
  }
}

.open-gsr {
  display: flex;
  flex-direction: column;
  text-align: center;
}

button {
  padding: 5px 20px;
  margin: 0 4px;
}

a.button-wrapper {
  display: inline-block;
  margin: 0 4px;

  button {
    margin: 0;
  }
}

canvas {
  margin-top: 30px;
  width: calc(100vw - 100px);
  height: calc(100vh - 200px);
  padding-right: 20px;
}

.hidden {
  display: none;
}

.axis-y-label {
  position: fixed;
  transform: rotate(270deg);
  top: 50vh;
  left: -60px;
}
