body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #333 url('/images/psi_white.svg') no-repeat 50% 50%;
  background-size: 85vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  color: white;

  &:hover {

  }

  &:active {

  }
}

h1, .ident {
  font-weight: 300;

  &:first-child {
    margin-top: 0;
  }

  em {
    font-weight: 800;
    font-style: normal;
  }

  span.version {
    font-size: 20px;
  }
}

button {
  padding: 5px 20px;
  margin: 0 4px;
}

a.button-wrapper {
  display: inline-block;
  margin: 0 4px;

  button {
    margin: 0;
  }
}

canvas {
  margin-top: 30px;
  width: calc(100vw - 100px);
  height: calc(100vh - 200px);
  padding-right: 20px;
}

label {
  display: flex;
  margin-bottom: 11px;
  align-items: center;

  span {
    display: block;
    min-width: 170px;
  }
}

input[type="text"], input[type="email"], input[type="password"] {
  padding: 8px 12px;
  min-width: 250px;
  border: 0;
  color: white;
  background-color: rgba(0,0,0, 0.2);
  border-bottom: 1px solid rgba(255,255,255, 0.4);
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  border-bottom: 1px solid rgba(255,255,255, 0.4);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #226 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.hidden {
  display: none;
}

.call-to-action-bar {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.open-gsr {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;

  header {
    margin-top: 20px;
  }

  .axis-y-label {
    position: fixed;
    transform: rotate(270deg);
    top: 50vh;
    left: -60px;
  }
}

.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 64px;
    margin: 0;
  }

  .version {
    text-align: right;
    margin-bottom: 30px;
    margin-top: -10px;
  }
}

.login, .register {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

body.logged-in {
  min-height: 100vh;
  justify-content: space-between;

  nav {
    padding: 40px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .ident {
      display: flex;
      min-width: 300px;
      font-size: 18px;

      > div {
        flex-direction: column;
        display: flex;
        align-items: end;
      }

      .version {
        font-size: 11px;
        margin-top: -4px;
      }
    }

    .page-title {
      font-size: 28px;
    }

    .further-options {
      display: flex;
      justify-content: end;
      min-width: 300px;
    }
  }

  main {
    padding: 40px 50px;
  }

  footer {
    padding: 40px 50px;
    background-color: rgba(0,0,0, 0.2);
  }
}

.mylab {
  display: flex;
  justify-content: space-between;

  section {
    width: calc(50% - 20px);
  }

  a {
    text-decoration: none;
  }

  .experiment-option {
    background: rgba(0,0,0, 0.2);
    padding: 20px;

    h2 {
      margin-top: 0;
    }
  }
}