// body.open-gsr {

& {
  text-align: center;
  justify-content: start;

  header {
    margin-top: 20px;
  }

  canvas {
    margin-top: 30px;
    width: calc(100vw - 100px);
    height: calc(100vh - 200px);
    padding-right: 20px;
  }

  .connection-progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
  }

  .axis-y-label {
    position: fixed;
    transform: rotate(270deg);
    top: 50vh;
    left: -60px;
  }
}