body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: #333 url("/images/psi_white.svg") no-repeat 50% 50%;
  background-size: 85vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body.full-screen-alert {
  overflow: hidden;
}

a {
  color: white;
}
h1, .ident {
  font-weight: 300;
}
h1:first-child, .ident:first-child {
  margin-top: 0;
}
h1 em, .ident em {
  font-weight: 800;
  font-style: normal;
}
h1 span.version, .ident span.version {
  font-size: 20px;
}

button {
  padding: 8px 24px;
  margin: 0 4px;
  background-image: linear-gradient(to top, #007700 0%, #009900 100%);
  font-size: 16px;
  color: white;
  font-weight: 800;
  border: 0;
  border-radius: 4px;
}
button.neutral {
  background-image: linear-gradient(to top, #444444 0%, #555555 100%);
}

a.button-wrapper {
  display: inline-block;
  margin: 0 4px;
}
a.button-wrapper button {
  margin: 0;
}

label {
  display: flex;
  margin-bottom: 11px;
  align-items: center;
}
label span {
  display: block;
  min-width: 170px;
}

input[type=text], input[type=email], input[type=password] {
  padding: 8px 12px;
  min-width: 250px;
  border: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

input[type=checkbox] {
  width: 16px;
  height: 16px;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #262 inset;
}

.hidden {
  display: none !important;
}

body .full-screen-alert {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(64px);
          backdrop-filter: blur(64px);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
body .full-screen-alert ul {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
}

body.open-gsr {
  text-align: center;
  justify-content: start;
}
body.open-gsr header {
  margin-top: 20px;
}
body.open-gsr canvas {
  margin-top: 30px;
  width: calc(100vw - 100px);
  height: calc(100vh - 200px);
  padding-right: 20px;
}
body.open-gsr .connection-progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}
body.open-gsr .axis-y-label {
  position: fixed;
  transform: rotate(270deg);
  top: 50vh;
  left: -60px;
}

body.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
body.root h1 {
  font-size: 64px;
  margin: 0;
}
body.root .version {
  text-align: right;
  margin-bottom: 30px;
  margin-top: -10px;
}

body.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
body.auth .call-to-action-bar {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
body.auth .email-verification-message, body.auth .new-verification-link-sent {
  max-width: 500px;
  text-align: center;
}
body.auth .new-verification-link-sent {
  margin-top: 20px;
}

body.mylab {
  min-height: 100vh;
  justify-content: space-between;
  overflow-x: hidden;
}
body.mylab nav {
  padding: 40px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body.mylab nav .ident {
  display: flex;
  min-width: 300px;
  font-size: 18px;
}
body.mylab nav .ident > div {
  flex-direction: column;
  display: flex;
  align-items: end;
}
body.mylab nav .ident .version {
  font-size: 11px;
  margin-top: -4px;
}
body.mylab nav .page-title {
  font-size: 28px;
  vertical-align: center;
}
body.mylab nav .page-title a {
  text-decoration: none;
}
body.mylab nav .page-title .seperator {
  color: #F1E8B8;
}
body.mylab nav .page-title .smaller {
  font-size: 22px;
}
body.mylab nav .further-options {
  display: flex;
  justify-content: end;
  min-width: 300px;
}
body.mylab main {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
body.mylab main section {
  width: 50vw;
  padding: 0 25px;
}
body.mylab main section h1 {
  font-size: 60px;
}
body.mylab main a {
  text-decoration: none;
}
body.mylab main .experiment-option {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
}
body.mylab main .experiment-option h2 {
  margin-top: 0;
}
body.mylab footer {
  padding: 40px 50px;
  background-color: rgba(241, 232, 184, 0.2);
  /* rgba(0,0,0, 0.2); */
}

body.mylab.experiment main {
  width: 150vw;
  transition: transform 1s ease-in-out;
}
body.mylab.experiment main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body.mylab.experiment main section h1:last-child {
  margin-bottom: 0;
}
body.mylab.experiment main section span.part {
  font-size: 24px;
  font-weight: 100;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
body.mylab.experiment main section span.part:last-child {
  border-bottom: 0;
}
body.mylab.experiment main.part-1 section.part-1, body.mylab.experiment main.part-1 section.part-2, body.mylab.experiment main.part-1 section.part-3, body.mylab.experiment main.part-1 section.part-4, body.mylab.experiment main.part-2 section.part-1, body.mylab.experiment main.part-2 section.part-2, body.mylab.experiment main.part-2 section.part-3, body.mylab.experiment main.part-2 section.part-4, body.mylab.experiment main.part-3 section.part-1, body.mylab.experiment main.part-3 section.part-2, body.mylab.experiment main.part-3 section.part-3, body.mylab.experiment main.part-3 section.part-4, body.mylab.experiment main.part-4 section.part-1, body.mylab.experiment main.part-4 section.part-2, body.mylab.experiment main.part-4 section.part-3, body.mylab.experiment main.part-4 section.part-4 {
  display: none;
}
body.mylab.experiment main.part-1 section.part-1, body.mylab.experiment main.part-2 section.part-2, body.mylab.experiment main.part-3 section.part-3, body.mylab.experiment main.part-4 section.part-4 {
  display: flex;
}
body.mylab.experiment main.part-1 .experiment-structure .part-1, body.mylab.experiment main.part-2 .experiment-structure .part-2, body.mylab.experiment main.part-3 .experiment-structure .part-3, body.mylab.experiment main.part-4 .experiment-structure .part-4 {
  font-weight: 600;
  font-size: 32px;
}
body.mylab.experiment main.shift-right {
  transform: translateX(-50vw);
}

