body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: #333 url("/images/psi_white.svg") no-repeat 50% 50%;
  background-size: 85vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body.full-screen-alert {
  overflow: hidden;
}

a {
  color: white;
}
h1, .ident {
  font-weight: 300;
}
h1:first-child, .ident:first-child {
  margin-top: 0;
}
h1 em, .ident em {
  font-weight: 800;
  font-style: normal;
}
h1 span.version, .ident span.version {
  font-size: 20px;
}

button {
  padding: 8px 24px;
  margin: 0 4px;
  background-image: linear-gradient(to top, #007700 0%, #009900 100%);
  font-size: 16px;
  color: white;
  font-weight: 800;
  border: 0;
  border-radius: 4px;
  transition: opacity 1s ease-in-out;
}
button.neutral {
  background-image: linear-gradient(to top, #444444 0%, #555555 100%);
}
button[disabled] {
  opacity: 0.25;
}

a.button-wrapper {
  display: inline-block;
  margin: 0 4px;
}
a.button-wrapper button {
  margin: 0;
}

label {
  display: flex;
  margin-bottom: 11px;
  align-items: center;
}
label span {
  display: block;
  min-width: 170px;
}

input[type=text], input[type=email], input[type=password] {
  padding: 8px 12px;
  min-width: 250px;
  border: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

input[type=checkbox] {
  width: 16px;
  height: 16px;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #262 inset;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #00ff00;
  outline: 0;
}

.hidden {
  display: none !important;
}

.sort-of-hidden {
  visibility: hidden !important;
}

body .full-screen-alert, body .full-screen-interaction {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(64px);
          backdrop-filter: blur(64px);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
body .full-screen-alert ul, body .full-screen-interaction ul {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
}

.template-item {
  display: none;
}

body.open-gsr {
  text-align: center;
  justify-content: start;
}
body.open-gsr header {
  margin-top: 20px;
}
body.open-gsr canvas {
  margin-top: 30px;
  width: calc(100vw - 100px);
  height: calc(100vh - 200px);
  padding-right: 20px;
}
body.open-gsr .connection-progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}
body.open-gsr .axis-y-label {
  position: fixed;
  transform: rotate(270deg);
  top: 50vh;
  left: -60px;
}

body.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
body.root h1 {
  font-size: 64px;
  margin: 0;
}
body.root .version {
  text-align: right;
  margin-bottom: 30px;
  margin-top: -10px;
}

body.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}
body.auth .call-to-action-bar {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
body.auth .email-verification-message, body.auth .new-verification-link-sent {
  max-width: 500px;
}
body.auth .new-verification-link-sent {
  margin-top: 20px;
}

body.error.error h1 {
  font-size: 96px;
}
body.error.error h1, body.error.error p {
  text-align: center;
}

body.mylab {
  min-height: 100vh;
  justify-content: space-between;
  overflow-x: hidden;
}
body.mylab nav {
  padding: 40px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body.mylab nav .ident {
  display: flex;
  min-width: 300px;
  font-size: 18px;
}
body.mylab nav .ident > div {
  flex-direction: column;
  display: flex;
  align-items: end;
}
body.mylab nav .ident .version {
  font-size: 11px;
  margin-top: -4px;
}
body.mylab nav .page-title {
  font-size: 28px;
  vertical-align: center;
}
body.mylab nav .page-title a {
  text-decoration: none;
}
body.mylab nav .page-title .seperator {
  color: #F1E8B8;
}
body.mylab nav .page-title .smaller {
  font-size: 22px;
}
body.mylab nav .further-options {
  display: flex;
  justify-content: end;
  min-width: 300px;
}
body.mylab main {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
body.mylab main section {
  width: calc(50vw - 50px);
  padding: 0 25px;
}
body.mylab main section h1 {
  font-size: 60px;
}
body.mylab main a {
  text-decoration: none;
}
body.mylab main .option {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  -webkit-backdrop-filter: blur(64px);
          backdrop-filter: blur(64px);
  margin-bottom: 25px;
}
body.mylab main .option h2 {
  margin-top: 0;
}
body.mylab main .option p:last-child {
  margin-bottom: 0;
}
body.mylab footer {
  padding: 40px 50px;
  background-color: #94918388;
  /* rgba(0,0,0, 0.2); */
}

body.mylab.experiment p {
  line-height: 1.7;
}
body.mylab.experiment main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 1s ease-in-out;
  transform-origin: calc(20px + 0%) center;
}
body.mylab.experiment main section h1:last-child {
  margin-bottom: 0;
}
body.mylab.experiment main section span.part {
  font-size: 24px;
  font-weight: 100;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
body.mylab.experiment main section span.part:last-child {
  border-bottom: 0;
}
body.mylab.experiment main button {
  width: 200px;
}
body.mylab.experiment main canvas.open-gsr {
  height: calc(100vh - 400px);
  position: relative;
  left: -40px;
}
body.mylab.experiment main .experiment-structure .part.current {
  font-weight: 600;
}
body.mylab.experiment main.shift-right {
  transform: translateX(-50vw);
}
body.mylab.experiment main .part.not-yet {
  color: rgba(255, 255, 255, 0.25);
}
body.mylab.experiment main .part-2 label {
  align-items: flex-start;
  flex-direction: column;
}
body.mylab.experiment main .part-2 p {
  margin-bottom: 50px;
}
body.mylab.experiment main .part-2 form .search-input-group {
  margin-left: -12px;
}
body.mylab.experiment main .part-2 form span {
  margin-bottom: 40px;
}
body.mylab.experiment main .part-2 form input {
  margin-left: 10px;
}
body.mylab.experiment main .part-2 .form-response {
  margin-top: 40px;
}
body.mylab.experiment main .part-3 .call-to-action-bar {
  margin-top: 30px;
  margin-left: -6px;
}
body.mylab.experiment main .part-4 h1 {
  position: absolute;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
body.mylab.experiment main .part-4.experiment-started h1 {
  opacity: 0;
}
body.mylab.experiment main #trials-container {
  font-size: 32px;
}
body.mylab.experiment main #trials-container .phase {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
body.mylab.experiment main #trials-container .phase button {
  width: 320px;
  height: 80px;
  font-size: 32px;
}
body.mylab.experiment main #trials-container #phase-1 span, body.mylab.experiment main #trials-container #end span {
  margin-bottom: 40px;
}
body.mylab.experiment main #trials-container #phase-2 canvas {
  width: 100%;
  height: 100%;
}
body.mylab.experiment main #trials-container #end span:first-child {
  font-size: 90px;
  margin-bottom: 10px;
}
body.mylab.experiment main #trials-container #end button {
  width: 400px;
}

body.mylab.setup main {
  justify-content: center;
}

body.mylab.data-analysis {
  background-attachment: fixed;
}
body.mylab.data-analysis nav {
  position: Fixed;
  width: 100vw;
  box-sizing: border-box;
}
body.mylab.data-analysis main {
  padding: 0;
  min-height: 100vh;
}
body.mylab.data-analysis main canvas#results-plotter {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
body.mylab.data-analysis section.controls {
  background: #11111188;
  padding: 40px 50px;
}
body.mylab.data-analysis .experiment-listing {
  width: 940px;
}
body.mylab.data-analysis .experiment-listing ul.experiments {
  padding: 0;
}
body.mylab.data-analysis .experiment-listing ul.experiments > li:not(.template-item) {
  background: #11111188;
  display: flex;
  padding: 20px 25px;
  margin-bottom: 20px;
}
body.mylab.data-analysis .experiment-listing ul.experiments > li:not(.template-item):last-child {
  margin-bottom: 0;
}
body.mylab.data-analysis .experiment-listing ul.experiments > li:not(.template-item) .data {
  min-width: 600px;
}
body.mylab.data-analysis .experiment-listing ul.experiments > li:not(.template-item) .controls {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body.mylab.data-analysis .experiment-listing ul.experiments > li:not(.template-item) .controls button {
  margin-bottom: 9px;
}
body.mylab.data-analysis .experiment-listing ul.experiments > li:not(.template-item) .controls button:last-child {
  margin-bottom: 0;
}
body.mylab.data-analysis .experiment-listing ul.experiments ul {
  padding-left: 18px;
}
body.mylab.data-analysis .experiment-listing ul.experiments h4 {
  margin-top: 0;
}

