body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: #333 url('../images/psi_white.svg') no-repeat 50% calc(50% + 20px);
    background-size: 85vh;
    color: white;
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: 300;
}

h1 em {
    font-weight: 800;
    font-style: normal;
}

h1 span.version {
    font-size: 20px;
}

div#setup {
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    padding: 5px 20px;
}

canvas {
    margin-top: 30px;
    width: calc(100vw - 100px);
    height: calc(100vh - 200px);
}
