& {
  background-attachment: fixed;
}

nav {
  position: Fixed;
  width: 100vw;
  box-sizing: border-box;
}

main {
  padding: 0;
  min-height: 100vh;

  canvas#results-plotter {
    width: 100vw;
    height: 100vh;
    position: fixed;
  }
}


