main {

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 1s ease-in-out;
    transform-origin: calc(20px + 0%) center;

    h1:last-child {
      margin-bottom: 0;
    }

    span.part {
      font-size: 24px;
      font-weight: 100;
      padding: 20px 0;
      border-bottom: 1px solid rgba(255,255,255, 0.25);

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .experiment-structure .part.current {
    font-weight: 600;
  }

  &.shift-right {
    transform: translateX(-50vw);
  }

  .part.not-yet {
    color: rgba(255,255,255, 0.25);
  }
}