main {

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 1s ease-in-out;
    transform-origin: calc(20px + 0%) center;

    h1:last-child {
      margin-bottom: 0;
    }

    span.part {
      font-size: 24px;
      font-weight: 100;
      padding: 20px 0;
      border-bottom: 1px solid rgba(255,255,255, 0.25);

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  button {
    width: 200px;
  }

  canvas.open-gsr {
    height: calc(100vh - 400px);
    position: relative;
    left: -40px;
  }

  .experiment-structure .part.current {
    font-weight: 600;
  }

  &.shift-right {
    transform: translateX(-50vw);
  }

  .part.not-yet {
    color: rgba(255,255,255, 0.25);
  }

  #trials-container {
    font-size: 32px;

    .phase {
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        width: 320px;
        height: 80px;
        font-size: 32px;
      }

      .timer {
        font-size: 64px;
      }
    }

    #phase-1, #end {
      span {
        margin-bottom: 40px;
      }
    }

    #phase-3 {
      .image {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        transform: translateX(100vw);
      }

      &.peaceful {
        //background: green;
        .image.peaceful {
          transform: translateX(0);
        }
      }

      &.emotional {
        //background: red;
        .image.emotional {
          transform: translateX(0);
        }
      }
    }

    #end {
      span:first-child {
        font-size: 90px;
        margin-bottom: 10px;
      }

      button {
        width: 400px;
      }
    }
  }
}